.h1.jumbotron
  React from Rails examples

.h2
  = link_to "Getting started", basic_reactor_index_path

.h2
  = link_to "Timer", timer_reactor_index_path

.h2
  = link_to "Component life cycle in depth", life_cycle_in_depth_reactor_index_path

.h2
  = link_to "Displaying all posts", posts_path

.h2
  = link_to "Creating new post", new_post_path

.h2
  = link_to "Server side rendering of posts", from_server_posts_path
