.h3
  React from Rails examples

= link_to "Getting started", basic_reactor_index_path
%br
= link_to "Timer", timer_reactor_index_path
%br
= link_to "Component life cycle in depth", life_cycle_in_depth_reactor_index_path
%br
= link_to "Displaying all posts", posts_path
%br
= link_to "Creating new post", new_post_path
